/*Global styling*/
html {
  font-family: sans-serif, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS';
}

body {
  background-color: #D3DEDC;
  padding-top: 50px;
  max-width: 1000px;
}

a {
  text-decoration: none;
  color: #305973;
}

#cover {
  width: 100%;
  max-width: 800px;
  height: auto;
  margin-bottom: 25px;
}
/*Navigation and header styling*/
ul {
  list-style-type: none;

}

header {
  width: 100%;
  max-width: 800px;
  text-align: right;

}

nav {
  width: 100%;
}

.landing {
  height: 300px;
  margin-bottom: 50px;
}

/*cover image*/
img {
  height: 300px;
  max-width: 100%;
  object-fit: cover;
}

.exhibition {
  float: right;
}

/*images*/
.one-image,
.two-image,
.three-image {
  padding-left: 10px;
  margin-top: 20px;

}

.profile {
  margin-bottom: 10px;

}
/*contact form styling*/
.cform {
  border-radius: 5%;
  align-items: flex-end;
  display: block;
}

h3,
h4 {
  font-size: 1em;
  color: #305973;
}

p,
h2 {
  color: #305973;
}

main {
  width: 100%;
  margin-top: 50px;
}

/*footer styling*/

footer {
  text-align: center;
  margin-top: 50px;
}

